/*

COLORS:

Rock Raiders Red:
    Normal - #B22222
    Darker - #AA1A1A


*/

/*============ HEADER CSS ============*/

/*Adds logo image to background*/
body {
   	background: url(/resources/img/logo/rol.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: auto;
	width:100%;
	height:100%;
}

#header {
    overflow: hidden;
    padding: 20px;
    background-color: #B22222;
}

#logo-banner {
    text-align: center;
	margin-bottom: 2em;
}

#logo-banner-img{
	float: center;
	margin-left: auto;
	margin-right: auto;
	/*margin-right: 100px;*/
	padding: 0;
	width: 500px;
	height: auto;
}

/* nav-bar links following other nav-bar links */
.nav-bar-link + .nav-bar-link {
    border-left: 3px solid white;
}

.nav-bar-link {
    display: block;
    float: left;
    box-sizing: border-box;
    padding: 0.75em 0.3em;
    width: 20%;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 26pt;
    font-style: italic;
    font-family: "Times New Roman", Serif;
}
.nav-bar-link:hover {
    color: white;
    text-decoration: none;
    background-color: #AA1A1A
}