@media only screen and (min-width: 48em) {
    #email-row {
        margin: 10vh 0;
    }

    #email-cell {
        text-align: center;
    }

    #email-cell h3 {
        font-size: 36pt;
        margin: 0.5em;
        margin-top: 0;
    }

    #email-cell h3::after {
        content: " Us";
    }

    #email-cell a {
        font-size: 32pt;
    }
}

@media only screen and (min-width: 64em) {
    #email-row {
        margin: 20vh 0;
    }
    .contact {
        text-align: center;
    }
}