#title {
    font-size: 26pt;
    text-align: center;
}

.info-row {
    margin-bottom: 1em;
}

#detail-pane{
    width: 100%;
    padding: 0 0.5em;
}

@media only screen and (min-width:48em) {
    #back-link{
        float: left;
        height: 0; overflow: visible;
    }
}

@media only screen and (min-width:64em){
    #title {
        margin-top: 0;
    }
    #detail-pane{
        width: 300px;
    }
}