#team {
    text-align:center;
}

#team figure {
    display:inline-block;
    margin: 0;
}

#teamphoto {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.bio-card {
	padding: 1.5rem;
	background-color: rgba(178,34,34,0.1);
	border-radius: 1.5rem;
	margin: 1rem 0;
}

.officer-name {
	font-size: 1.5rem;
	font-weight: bold;
}